<div class="user-form-container welcome-user">
  {{#user-form formTitle='welcome.title'
               submission=setup
               formId=formId
               steps=steps
               loading=loading
               hideSave=true
               skipEnabled=true
               doneEnabled=true
               resolutionRoute='/home/set'}}
  {{/user-form}}
</div>
